# Palroc nRF9151 board configuration

# SPDX-License-Identifier: Apache-2.0

config HW_STACK_PROTECTION
	default ARCH_HAS_STACK_PROTECTION

if BOARD_NRF9151_PALROC_NRF9151 || BOARD_NRF9151_PALROC_NRF9151_NS

config BOARD_NRF9151_PALROC
	select USE_DT_CODE_PARTITION if BOARD_NRF9151_PALROC_NRF9151_NS

config BT_HCI_VS
	default y if BT

endif # BOARD_NRF9151_PALROC_NRF9151 || BOARD_NRF9151_PALROC_NRF9151_NS
